<div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar">
  <div id="importantDates">
    <script>
      $(function() {
        $("#importantDates").load("./texts/"+lang+"/importantDates" + suffixh);
      });
    </script>
  </div>
  <div class="content">
    <a class="twitter-timeline" data-height="2000" href="https://twitter.com/CibseConf">@CibseConf</a>
    <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <br/>
  <br/>
  <h4 id="orgTitle">
    <script>
     document.getElementById('orgTitle').innerHTML = menu[lang]["organizers"]["name"];
    </script>
  </h4>

  <div id="orgLogos" style="margin-left: auto; margin-right: auto; margin-bottom: 15px;">
    <a title="Universidad de los Andes"  href="https://uniandes.edu.co" target="_blank">
    <img id="orgImage" alt="" src="logos/logoUniversityWhite.png" width="200" /></a>
  </div>
  <br/>
  <div style="margin-left: auto; margin-right: auto; ">
    <a id="easyChair" title="EasyChair" href="http://easychair.org" target="_blank">
    <img alt="EasyChair" src="logos/logoEC.gif" width="200"/></a>
  </div>

</div><!--/.sidebar-offcanvas-->
