<div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar">

  <div id="importantDates">
    <script>
      $(function() {
        $("#importantDates").load("./texts/"+lang+"/importantDates" + suffixh);
      });
    </script>
  </div>

  <div class="content">
    <a class="twitter-timeline" data-height="2000" href="https://twitter.com/CibseConf">@CibseConf</a>
    <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <br/>
  <br/>
  <h4 id="orgTitle">
    <script>
     document.getElementById('orgTitle').innerHTML = menu[lang]["organizers"];
    </script>
  </h4>

  <div id="orgLogos" style="margin-left: auto; margin-right: auto; margin-bottom: 15px;">
    <a title=""  href="" target="_blank">
    <img id="orgImage" alt="" src="logos/logoUniversityWhite.png" width="200" /></a>
    <script>
      document.getElementById('orgLogos').title = menu[lang]["university"]["name"] + " - " + menu[lang]["department"]["name"];
      document.getElementById('orgLogos').href = universityUrl;
      document.getElementById('orgImage').alt = menu[lang]["university"]["name"] + " - " + menu[lang]["department"]["name"];
    </script>
  </div>
  <br/>
  <div style="margin-left: auto; margin-right: auto; ">
    <a id="easyChair" title="EasyChair" href="" target="_blank">
    <img alt="EasyChair" src="logos/logoEC.gif" width="200" /></a>
    <script>
      document.getElementById("easyChair").href = easychairURL;
    </script>
  </div>

</div><!--/.sidebar-offcanvas-->
