<div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar">

  <?php include("./texts/importantDates".$suffixh); ?>

  <div class="content">
    <a class="twitter-timeline" href="https://twitter.com/CibseConf">@CibseConf</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <br/>
  <br/>
  <h4><?php echo $organizers[$lang]; ?></h4>

  <div style="margin-left: auto; margin-right: auto; margin-bottom: 15px;">
    <a title= <?php echo $menu[$lang]["university"]["name"]; ?>  -  <?php echo $menu[$lang]["department"]["name"]; ?> href= <?php echo $universityURL; ?> target=_blank>
    <img alt= <?php echo $menu[$lang]["university"]["name"]; ?>  -  <?php echo $menu[$lang]["department"]["name"]; ?> src=logos/logoUniversityWhite.png width=200 /></a>
  </div>
  <br/>
  <div style="margin-left: auto; margin-right: auto; ">
    <a title=EasyChair  href=<?php echo $easychairURL; ?> target=_blank>
    <img alt="EasyChair" src="logos/logoEC.gif" width="200" /></a>
  </div>

</div><!--/.sidebar-offcanvas-->
