<!DOCTYPE html>
<html lang="en">
  <head>
		<script>
			$(function() {
				$("#header").load("./../components/header.html");
				$("#footer").load("./../components/footer.html");
			})
		</script>
	</head>


<body>
	<div id="header"> </div>
	<div id="navbar">
    <script>
      $(function(){
        $("#navbar").load("./../components/navbar.html");
      });
    </script>
  </div>

	<div class="container">

  <div id="banner" class="row row-offcanvas row-offcanvas-right">

		<script>
			$(function(){
				$("#banner").load("./banner/banner_en.html");
			});
		</script>

    <div class="col-xs-12 col-md-9">
	  	<div class="jumbotron">
	    	<div class="row">
	      	<div class="col-xs-2 col-lg-2">
				  	<img id="track_img" src="" alt="" width="100" style="margin-top: auto; margin-bottom: auto; vertical-align: middle;"/>
						<script>
							document.getElementById("track_img").src = "trackicons/track"+(trackNumber +1)+".png";
							document.getElementById("track_img").alt = menu[lang]["tracks"][trackNumber]["name"];
						</script>
			    </div>
			 		<div class="col-xs-6 col-lg-10">
			  		<h2 id="track_title">
							  <script>
                  document.getElementById("track_title").innerHTML = menu[lang]["tracks"][trackNumber]["name"] + " - " +
                   menu[lang]["tracks"][trackNumber]["longName"];
                </script>
		      	</h2>
					</div>
				</div>

        <div id="track_text" class="row">
					<script>
						$(function(){
							$("#track_text").load("./texts/track"+trackNumber+"_text_"+lang+".html");
						});
					</script>
        </div>
      </div>
			<!--
      <div class="row">
        <div class="col-xs-6 col-lg-4">
			    <div style="font-weight: bold;"><?php echo $chaired[$lang]; ?> </div>
			 	</div>

				<div class="col-xs-6 col-lg-4">
          <div style="height: 130px; margin-left: auto; margin-right: auto;" class="text-center">
            <img src="./leaders/<?php echo $menu[$lang]["tracks"][$trackNumber]["image"]; ?>" alt="<?php echo $menu[$lang]["tracks"][$trackNumber]["leader"]; ?>"
              		height="120" style="margin-top: auto; margin-bottom: 10px; vertical-align: middle;"/>
          </div>
          <div class="text-center">
              	<h4><?php echo $menu[$lang]["tracks"][$trackNumber]["leader"]; ?></h4>
            	<p><a href="mailto:<?php echo $menu[$lang]["tracks"][$trackNumber]["email"]; ?>"><?php echo $menu[$lang]["tracks"][$trackNumber]["email"]; ?></a></p>
          </div>
      	</div>
      </div>

			<div class="row">
      	<div class="col-xs-6 col-lg-4">
			  	<div style="font-weight: bold;"><?php echo $menu[$lang]["dates"]["name"]; ?></div>
			  	<div><ul><?php include("texts/dates" . ($trackNumber+1)."_text.html"); ?> </ul></div>
			 	</div>
			</div> -->

      <div class="row">
      	<div class="col-xs-6 col-lg-4">
			  	<div id="track_pc" style="font-weight: bold;">
						<script>
						document.getElementById("track_pc").innerHTML = menu[lang]["pc"];
						</script>
					</div id="track_pc_members">
			  	<div><ul>
						<script>
						$(function(){
							$("#track_pc_members").load("./texts/pc"+(trackNumber+1)+"_text.html");
						});
						</script>
					</ul></div>
			 	</div>
			</div>

    </div><!--/.col-xs-12.col-sm-9-->

				<div id="sidebar">
					<script>
						$(function(){
							$("#sidebar").load("./components/sidebar.html");
						});
					</script>
				</div>
      </div><!--/row-->

      <hr>

			<div id="footer">	</div>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<div id="google">
			<script>
				$(function() {
					$("#google").load("./components/google.html");
				});
			</script>
		</div>

  </body>
</html>
